@model IList<Dominio.Entidades.Job>
@{
    ViewBag.Title = "Relatório dos Meus Jobs";
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<table class="table table-bordered table-hover table-working" id="TabelaMeusJobs">
    <tr>
        <th>Cliente</th>
        <th>Nome</th>
        <th>Peças</th>
        <th>Data Criação</th>
        <th>Data Estimativa</th>
        <th>Situação</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Cliente.Nome</td>
            <td>@i.Nome</td>
            <td>
                @foreach (var j in i.Peca)
                {
                    if (i.Peca.Last().Id == j.Id)
                    {
                    <span>@j.Descricao</span>
                    }
                    else
                    {
                    <span>@j.Descricao,</span>
                    }
                }
            </td>
            <td>@i.DataCriacao.ToShortDateString()</td>
            <td>@i.DataEstimativa.ToShortDateString()</td>
            @if (i.Fase != "EMPRODUCAO")
            {
                <td>@i.Fase</td>
            }
            else
            {
                <td>@i.Situacao.Descricao</td>
            }
        </tr>
    }
</table>
