@using System.Drawing
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="modal fade" id="CadastrarJob">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="FecharCadastroJob" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Novo Job</h4>
                </div>
                <div class="modal-body form-working">
                    <form role="form" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="Cliente" class="control-label col-sm-2">Cliente:</label>
                                <div class="col-sm-10">
                                    <select class="selectpicker show-tick form-control" name="Cliente" id="ClienteCadastro" data-live-search="true" required autofocus>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Briefing" class="control-label col-sm-2">Briefing:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Briefing" id="BriefingCadastro" style="resize: none;" required></textarea>
                                </div>
                                <div class="caracteres">
                                    <span id="CaracterBriefing" class="pull-right">5000 caracteres</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Pecas" class="control-label col-sm-2">Peças:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Pecas" id="PecasCadastro" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Descricao" class="control-label col-sm-2">Descrição:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Descricao" id="DescricaoCadastro" style="resize: none;" required></textarea>
                                </div>
                                <div class="caracteres">
                                    <span id="CaracterDescricao" class="pull-right">5000 caracteres</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <label for="DataCriacao" class="control-label col-sm-2">Criação:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control datepicker" name="DataCriacao" id="DataCriacaoCadastro" onchange="document.getElementById('HorasNecessariasCadastro').focus()" readonly="readonly" required />
                                    </div>
                                </div>
                                <div>
                                    <label for="HorasNecessarias" class="control-label col-sm-2">Horas:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="HorasNecessarias" id="HorasNecessariasCadastro" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Funcionario" class="control-label col-sm-2">Colaborador:</label>
                                <div class="col-sm-10">
                                    <select class="selectpicker show-tick form-control" name="Funcionario" id="FuncionarioCadastro" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <label for="DataEstimativa" class="control-label col-sm-2">Estimativa:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control datepicker" name="DataEstimativa" id="DataEstimativaCadastro" onchange="document.getElementById('DataEntregaCadastro').focus(),document.getElementById('DataEntregaCadastro').enter()" readonly="readonly" required />
                                    </div>
                                </div>
                                <div>
                                    <label for="DataEntrega" class="control-label col-sm-2">Entrega:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control datepicker" name="DataEntrega" id="DataEntregaCadastro" onchange="document.getElementById('SituacaoCadastro').focus()" readonly="readonly" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Situacao" class="control-label col-sm-2">Situação:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Situacao" id="SituacaoCadastro" required />
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" id="SalvarJob" data-dismiss="modal">
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                                Cadastrar                                                                      
                            </button>
                            <button type="button" class="btn btn-danger" id="CancelarJob" data-dismiss="modal">
                                <span class=" glyphicon glyphicon-remove"></span>
                                Cancelar                                                                       
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="geral">
        <header>
            <div class="nav navbar-fixed-top navbar-working" role="navigation">
                <div class="container">
                    <a href="~/Home/Index">
                        <img class="img-circle img-thumbnail pull-left navbar-img-logo" src="~/Images/logosimples.png" /></a>
                    <div class="collapse navbar-collapse navbar-usuario pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Home/Index" id="home">
                                <span class="glyphicon glyphicon-user"></span>
                                @HttpContext.Current.User.Identity.Name
                            </a></li>
                        </ul>
                    </div>
                    <div>
                        <a onclick="location.href='Login/Logout'" class="pull-right" style="padding-left: 10px; cursor: pointer;">
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="pull-right" style="padding-left: 10px;">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                    <div class="new-job pull-right col-sm-1" style="padding-top: 10px;">
                        <button class="btn btn-warning btn-lg navbar-btn-new" data-toggle="modal" data-target="#CadastrarJob">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <span>Novo Job</span>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbar">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Cadastros
                                        <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Funcionario/Cadastrar">Funcionário</a></li>
                                    <li><a href="~/Cargo/Cadastrar">Cargo</a></li>
                                    <li><a href="~/Cliente/Cadastrar">Cliente</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked pull-left nav-left">
                <li>
                    <a href="~/Funcionario/Index">
                        <span class="glyphicon glyphicon-tower glyphicon-working"></span>
                        Equipe
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-folder-open glyphicon-working"></span>
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment glyphicon-working"></span>
                        Room
                    </a>
                </li>
                <li>
                    <a href="~/Compromisso/Index">
                        <span class="glyphicon glyphicon-list-alt glyphicon-working"></span>
                        Agenda
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-time glyphicon-working"></span>
                        Disponibilidade
                    </a>
                </li>
                <li>
                    <a href="~/Cliente/Index">
                        <span class="glyphicon glyphicon-star glyphicon-working"></span>
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-file glyphicon-working"></span>
                        Relatórios
                    </a>
                </li>
            </ul>
        </header>
        <div class="container" style="padding-bottom: 10px;">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="pull-left">
                    <img src="~/Images/logo.png" style="height: 80px;" />
                    <p>&copy; @DateTime.Now.Year - Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Bootstrap/js/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="~/Scripts/jquery.mask.min.js"></script>
        <script src="~/Scripts/bootstrap-select.js"></script>
        <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
        <script>
            $(".draggable").draggable();
            $(".selectpicker").selectpicker({
                size: 6
            });
            $("#HorasNecessariasCadastro").mask('000:P0', { placeholder: '___:__', translation: { 'P': { pattern: /[0-5]/, optional: false } } });

            $(".timepicker").mask('00:00', { placeholder: '__:__' });
            $(".timepicker").timepicker();

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                minDate: 0
            });

            $("#BriefingCadastro").keyup(function() {
                var quant = 5000;
                var total = document.getElementById("BriefingCadastro").value.length;

                if (total <= quant) {
                    $("#CaracterBriefing").text(quant-total + " caracteres restantes");
                } else {
                    document.getElementById('BriefingCadastro').value = document.getElementById("BriefingCadastro").value.substr(0, quant);
                }
            });

            $("#DescricaoCadastro").keyup(function () {
                var quant = 5000;
                var total = document.getElementById("DescricaoCadastro").value.length;

                if (total <= quant) {
                    $("#CaracterDescricao").text(quant - total + " caracteres restantes");
                } else {
                    document.getElementById('DescricaoCadastro').value = document.getElementById("DescricaoCadastro").value.substr(0, quant);
                }
            });

            $("#DataCriacaoCadastro").change(function () {
                var test = $(this).datepicker('getDate');
                var testm = new Date(test.getTime());
                testm.setDate(testm.getDate());

                $("#DataEstimativaCadastro").datepicker("option", "minDate", testm);
            });

            //$("#FuncionarioCadastro").change(function() {
            //    var dataInicio = $("#DataCriacaoCadastro").datepicker('getDate');
            //    var dataFim = $("#DataEstimativaCadastro").datepicker('getDate');
            //    var funcionario = $("#FuncionarioCadastro").val();
            //    $.ajax({
            //        type: 'POST',
            //        url:'/Job/ListarJobsFuncionario/',
            //        data: {
            //            fid: funcionario,
            //            dataInicio: dataInicio,
            //            dataFim: dataFim
            //        },
            //        success: function() {
            //            $.each();
            //        }
            //    });
            //});

            window.onload = function () {
                var itens;
                $.get('/Cliente/ListarClienteJson/', function (data) {
                    $.each(data, function (i, res) {
                        if (res.nome == 'null') {
                            $('#ClienteCadastro').empty();
                            $('.selectpicker').selectpicker('refresh');
                        } else {
                            itens += "<option value='" + res.id + "'>" + res.nome + "</option>";
                        }
                    });
                    $('#ClienteCadastro').html(itens);
                    $('.selectpicker').removeAttr('disabled');
                    $('.selectpicker').selectpicker('refresh');
                    ListarFuncionario();
                });
            };

            function ListarFuncionario() {
                var itens;
                $.get('/Funcionario/ListarFuncionarioJson/', function (data) {
                    $.each(data, function (i, res) {
                        if (res.nome == 'null') {
                            $('#FuncionarioCadastro').empty();
                            $('.selectpicker').selectpicker('refresh');
                        } else {
                            itens += "<option value='" + res.id + "'>" + res.nome + "</option>";
                        }
                    });
                    $('#FuncionarioCadastro').html(itens);
                    $('.selectpicker').removeAttr('disabled');
                    $('.selectpicker').selectpicker('refresh');
                });
            };

            function CadastrarJob(cliente, briefing, pecas, descricao, funcionario, dataCriacao, dataEstimativa, dataEntrega, horasNecessarias, situacao) {
                $.ajax({
                    type: 'POST',
                    url: '/Job/CadastrarAjax/',
                    data: {
                        cliente: cliente,
                        briefing: briefing,
                        pecas: pecas,
                        descricao: descricao,
                        funcionario: funcionario,
                        dataCriacao: dataCriacao,
                        dataEstimativa: dataEstimativa,
                        dataEntrega: dataEntrega,
                        horasNecessarias: horasNecessarias,
                        situacao: situacao
                    },
                    success: function () {
                        $('#BriefingCadastro').val("");
                        $('#PecasCadastro').val("");
                        $('#DescricaoCadastro').val("");
                        $('#DataCriacaoCadastro').val("");
                        $('#DataEstimativaCadastro').val("");
                        $('#DataEntregaCadastro').val("");
                        $('#HorasNecessariasCadastro').val("");
                        $('#SituacaoCadastro').val("");
                        AtualizaJobs();
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            $("#SalvarJob").click(function () {
                var cliente = $('#ClienteCadastro').val();
                var briefing = $('#BriefingCadastro').val();
                var pecas = $('#PecasCadastro').val();
                var descricao = $('#DescricaoCadastro').val();
                var funcionario = $('#FuncionarioCadastro').val();
                var dataCriacao = $('#DataCriacaoCadastro').val();
                var dataEstimativa = $('#DataEstimativaCadastro').val();
                var dataEntrega = $('#DataEntregaCadastro').val();
                var horasNecessarias = $('#HorasNecessariasCadastro').val();
                var situacao = $('#SituacaoCadastro').val();

                CadastrarJob(cliente, briefing, pecas, descricao, funcionario, dataCriacao, dataEstimativa, dataEntrega, horasNecessarias, situacao);
            });

            $("#CancelarJob").click(function () {
                $('#BriefingCadastro').val("");
                $('#PecasCadastro').val("");
                $('#DescricaoCadastro').val("");
                $('#DataCriacaoCadastro').val("");
                $('#DataEstimativaCadastro').val("");
                $('#DataEntregaCadastro').val("");
                $('#HorasNecessariasCadastro').val("");
                $('#SituacaoCadastro').val("");
                $("#CaracterBriefing").text("5000 caracteres");
                $("#CaracterDescricao").text("5000 caracteres");
            });

            $("#FecharCadastroJob").click(function () {
                document.getElementById("CancelarJob").click();
            });

            function DeletarTabelaJobs() {
                var numeroLinhas = $("#TabelaJobs >tbody >tr").length;
                for (var i = 1; i < numeroLinhas; i++) {
                    document.getElementById("TabelaJobs").deleteRow(1);
                }
            }

            function PreencherTabelaJobs() {
                var tabela = document.getElementById("TabelaJobs");
                $.get("/Job/ListarJobsJson/", function (data) {
                    $.each(data, function (i, res) {
                        if (res != null) {
                            var linha = tabela.insertRow(1);
                            var nome = document.createElement('td');
                            var dataCriacao = document.createElement('td');
                            var dataEstimativa = document.createElement('td');
                            var situacao = document.createElement('td');

                            nome.innerHTML = "<td>" + res.nome + "</td>";
                            dataCriacao.innerHTML = "<td>" + res.DataCriacao + "</td>";
                            dataEstimativa.innerHTML = "<td>" + res.DataEstimativa + "</td>";
                            situacao.innerHTML = "<td>" + res.Situacao + "</td>";

                            linha.appendChild(nome);
                            linha.appendChild(dataCriacao);
                            linha.appendChild(dataEstimativa);
                            linha.appendChild(situacao);
                        }
                    });
                });
            }

            function AtualizaJobs() {
                DeletarTabelaJobs();
                PreencherTabelaJobs();
            }
        </script>
    </div>
</body>
</html>
