@{var cliente = HelpClass.ClienteLogado();}
@using Working.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="geral">
        <header>
            <div class="nav navbar-fixed-top navbar-working" role="navigation">
                <div class="container">
                        <img class="img-circle img-thumbnail pull-left navbar-img-logo" src="~/Images/logosimples.png" />
                    <div class="collapse navbar-collapse navbar-usuario pull-left">
                        <ul class="nav navbar-nav">
                            <li><a id="home">
                                <span class="glyphicon glyphicon-user"></span>
                                @HttpContext.Current.User.Identity.Name
                            </a></li>
                        </ul>
                    </div>
                    <div>
                        <a onclick="location.href='/Login/Logout'" class="pull-right" style="padding-left: 10px; cursor: pointer;">
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container" style="padding-bottom: 10px;">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="pull-left">
                <img src="~/Images/logo.png" style="height: 80px;" />
                <p>&copy; @DateTime.Now.Year - Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
</body>
