@{var funcionario = HelpClass.UsuarioLogado();}
@using Working.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="modal fade" id="NovoCompromisso">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="document.getElementById('Cancelar').click();" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Novo Compromisso</h4>
                </div>
                <div class="modal-body form-working">
                    <form role="form" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="Data" class="control-label col-sm-2">Data:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control datepicker" name="Data" id="Data" onchange="document.getElementById('Hora').focus(),document.getElementById('Hora').enter()" readonly="readonly" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Hora" class="control-label col-sm-2">Hora:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Hora" class="form-control timepicker" required title="Digite o horario: HH:MM" id="Hora" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descricao" class="control-label col-sm-2">Descrição:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="Descricao" id="Descricao" style="resize: none;" required></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="SalvarAjax">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            Cadastrar
                        </button>
                        <button type="button" class="btn btn-danger" id="Cancelar" data-dismiss="modal">
                            <span class=" glyphicon glyphicon-remove"></span>
                            Cancelar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AlterarCompromisso">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Alterar Compromisso</h4>
                </div>
                <div class="modal-body form-working">
                    <form role="form" method="post" class="form-horizontal">
                        <input hidden="" id="id" />
                        <div class="form-group">
                            <div class="form-group">
                                <label for="Data" class="control-label col-sm-2">Data:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control datepicker" name="Data" id="DataAlterar" onchange="document.getElementById('HoraAlterar').focus()" readonly="readonly" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Hora" class="control-label col-sm-2">Hora:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Hora" class="form-control" required title="Digite o horario: HH:MM" id="HoraAlterar" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Descricao" class="control-label col-sm-2">Descrição:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="Descricao" id="DescricaoAlterarCompromisso" style="resize: none;" required></textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" id="SalvarAlterar" onclick="AlterarAjax($('#id').val(),$('#DataAlterar').val(),$('#HoraAlterar').val(),$('#DescricaoAlterarCompromisso').val())">
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                                Alterar
                            </button>
                            <button type="button" class="btn btn-danger" id="CancelarAlterar" data-dismiss="modal">
                                <span class=" glyphicon glyphicon-remove"></span>
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Timeline">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="FecharTimeline" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Comentários</h4>
                    <span id="IdJobTimeline" style="color: transparent; font-size: 2px !important;" class="col-sm-2"></span>
                </div>
                <div class="modal-body form-working">
                    <form role="form" method="POST" class="form-horizontal" id="FormComentarioTimeline">
                        <textarea class="form-control" id="txtComentario" style="resize: none;" required autofocus></textarea>
                        <div class="caracteres">
                            <span class="pull-right" id="CaracterComentarioTimeline">5000 caracteres</span>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" id="Publicar">Publicar</button>
                        <button type="button" class="btn btn-default btn-sm" id="Limpar">Limpar</button>
                    </form>
                    <div id="ComentariosTimeline" style="padding-top: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CadastrarSituacaoJob">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="FecharCadastroSituacaoJob" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nova Situação</h4>
                </div>
                <div class="modal-body form-working">
                    <form role="form" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <label for="DescricaoSituacaoJob" class="control-label col-sm-2">Descrição:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="DescricaoSituacaoJob" id="DescricaoSituacaoJob" required />
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="SalvarSituacaoJob" data-dismiss="modal">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            Cadastrar                                                                      
                        </button>
                        <button type="button" class="btn btn-danger" id="CancelarSituacaoJob" data-dismiss="modal">
                            <span class=" glyphicon glyphicon-remove"></span>
                            Cancelar                                                                       
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CadastrarFornecedor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="FecharCadastroFornecedor" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Novo Fornecedor</h4>
                </div>
                <span id="VoltarFornecedor" style="color: transparent !important; font-size: 1px !important;"></span>
                <div class="modal-body form-working">
                    <form role="form" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <label for="FornecedoresBuscar" class="control-label col-sm-2">Pesquisar:</label>
                            <div class="col-sm-10">
                                <select class="selectpicker form-control" name="FornecedoresBuscar" id="FornecedoresBuscar" data-header="Resultados Encontrados" data-live-search="true" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NomeFornecedor" class="control-label col-sm-2">Nome:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="NomeFornecedor" id="NomeFornecedor" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TelefoneFornecedor" class="control-label col-sm-2">Telefone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="TelefoneFornecedor" id="TelefoneFornecedor" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ContatoFornecedor" class="control-label col-sm-2">Contato:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="ContatoFornecedor" id="ContatoFornecedor" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CelularFornecedor" class="control-label col-sm-2">Celular:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="CelularFornecedor" id="CelularFornecedor" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmailFornecedor" class="control-label col-sm-2">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="EmailFornecedor" id="EmailFornecedor" required />
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="SalvarFornecedor" data-dismiss="modal">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            Cadastrar                                                                      
                        </button>
                        <button type="button" class="btn btn-danger" id="CancelarFornecedor" data-dismiss="modal">
                            <span class=" glyphicon glyphicon-remove"></span>
                            Cancelar                                                                       
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CadastrarPeca">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="FecharCadastroPeca" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nova Peça</h4>
                </div>
                <span id="Voltar" style="color: transparent !important; font-size: 1px !important;"></span>
                <div class="modal-body form-working">
                    <form role="form" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <label for="PecasBuscar" class="control-label col-sm-2">Pesquisar:</label>
                            <div class="col-sm-10">
                                <select class="selectpicker form-control" name="PecasBuscar" id="PecasBuscar" data-header="Resultados encontrados" data-live-search="true">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DescricaoPeca" class="control-label col-sm-2">Descrição:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="DescricaoPeca" id="DescricaoPeca" style="resize: none;" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FornecedoresPecas" class="control-label col-sm-3">Fornecedores:</label>
                            <div class="col-sm-7">
                                <select class="selectpicker show-tick form-control" multiple name="FornecedoresPecas" id="FornecedoresPecas" data-live-search="true" required>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="AdicionarFornecedorPeca" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#CadastrarFornecedor">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" id="SalvarPeca" data-dismiss="modal">
                            <span class="glyphicon glyphicon-floppy-saved"></span>
                            Cadastrar                                                                      
                        </button>
                        <button type="button" class="btn btn-danger" id="CancelarPeca" data-dismiss="modal">
                            <span class=" glyphicon glyphicon-remove"></span>
                            Cancelar                                                                       
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @if (funcionario.TemAcesso("NOVOJOB"))
    {
        @RenderPage("_ModalJobAtendimento.cshtml")
    }
    <div class="geral">
        <header>
            <div class="nav navbar-fixed-top navbar-working" role="navigation">
                <div class="container">
                    <a href="~/Home/Index">
                        <img class="img-circle img-thumbnail pull-left navbar-img-logo" src="~/Images/logosimples.png" /></a>
                    <div class="collapse navbar-collapse navbar-usuario pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Home/Index" id="home">
                                <span class="glyphicon glyphicon-user"></span>
                                @HttpContext.Current.User.Identity.Name
                            </a></li>
                        </ul>
                    </div>
                    <div>
                        <a onclick="location.href='/Login/Logout'" class="pull-right" style="padding-left: 10px; cursor: pointer;">
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="pull-right" style="padding-left: 10px;">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                    @{
                        if (funcionario.TemAcesso("NOVOJOB"))
                        {
                        <div class="new-job pull-right col-sm-1" style="padding-top: 10px;">
                            <button id="NovoJob" class="btn btn-warning btn-lg navbar-btn-new" data-toggle="modal" data-target="#CadastrarJob">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <p>Novo Job</p>
                        </div>
                        }
                    }
                    @Html.Partial(HelpClass.MenuCadastros(funcionario))
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked pull-left nav-left">
                @if (funcionario.TemAcesso("GERENCIAR EQUIPE"))
                {
                    <li>
                        <a href="~/Funcionario/Index">
                            <span class="glyphicon glyphicon-tower glyphicon-working"></span>
                            Equipe
                        </a>
                    </li>
                }
                @if (funcionario.TemAcesso("MEUSJOBS"))
                {
                    <li>
                        <a href="~/Job/Index/">
                            <span class="glyphicon glyphicon-folder-open glyphicon-working"></span>
                            Meus Jobs
                        </a>
                    </li>
                }
                @if (funcionario.TemAcesso("FINANCEIRO"))
                {
                    <li>
                        <a href="~/Contrato/Index">
                            <span class="glyphicon glyphicon-usd"></span>
                            Financeiro
                        </a>
                    </li>
                }
                <li>
                    <a href="~/Mural/Index/">
                        <span class="glyphicon glyphicon-comment glyphicon-working"></span>
                        Room
                    </a>
                </li>
                <li>
                    <a href="~/Compromisso/Index">
                        <span class="glyphicon glyphicon-list-alt glyphicon-working"></span>
                        Agenda
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-time glyphicon-working"></span>
                        Disponibilidade
                    </a>
                </li>
                <li>
                    <a href="~/Cliente/Index">
                        <span class="glyphicon glyphicon-star glyphicon-working"></span>
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-file glyphicon-working"></span>
                        Relatórios
                    </a>
                </li>
            </ul>
        </header>
        <div class="container" style="padding-bottom: 10px;">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
                
            </section>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="pull-left">
                    <img src="~/Images/logo.png" style="height: 80px;" />
                    <p>&copy; @DateTime.Now.Year - Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Bootstrap/js/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="~/Scripts/jquery.mask.min.js"></script>
        <script src="~/Scripts/bootstrap-select.js"></script>
        <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
        <script>
            $('.inputNumber').mask('#', { maxlength: false });
            $(".currency").mask("#.##0,00", { reverse: true, maxlength: false });
            $(".draggable").draggable();
            $(".selectpicker").selectpicker({
                size: 6
            });
            $("#HorasNecessariasAlterarProducao").mask('000:P0', { placeholder: '___:__', translation: { 'P': { pattern: /[0-5]/, optional: false } } });
            $("#HorasNecessariasAlterarEmProducao").mask('000:P0', { placeholder: '___:__', translation: { 'P': { pattern: /[0-5]/, optional: false } } });

            $(".timepicker").mask('00:00', { placeholder: '__:__' });
            $(".timepicker").timepicker();

            $('.datepickerMaxDate').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                maxDate: 0
            });

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                minDate: 0
            });

            $('#CadastrarPeca').on('hidden.bs.modal', function (e) {
                $('#Voltar').text('0');
                if ($('#Voltar').text() == '2') {
                    $('#Voltar').text('0');
                    $('#NovoJob').click();
                }
            });

            $('#CadastrarFornecedor').on('hidden.bs.modal', function (e) {
                $('#VoltarFornecedor').text('0');
                if ($('#VoltarFornecedor').text() == '1') {
                    $('#VoltarFornecedor').text('0');
                    document.getElementById('LinkPeca').click();
                } else if ($('#VoltarFornecedor').text() == '3') {
                    $('#VoltarFornecedor').text('0');
                    $('#NovoJob').click();
                }
            });

            function CadastrarSituacaoJob(descricao) {
                $.ajax({
                    type: 'POST',
                    url: '/SituacaoJob/CadastrarAjax',
                    data: {
                        descricao: descricao
                    },
                    success: function () {
                        $('#CancelarSituacaoJob').click();
                        ListarSituacaoJob();
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            $('#SalvarSituacaoJob').click(function () {
                var descricao = $('#DescricaoSituacaoJob').val();
                CadastrarSituacaoJob(descricao);
            });

            $('#CancelarSituacaoJob').click(function () {
                $('#DescricaoSituacaoJob').val('');
            });

            $('#FecharCadastroSituacaoJob').click(function () {
                $('#CancelarSituacaoJob').click();
            });

            function CadastrarFornecedor(nome, telefone, contato, celular, email) {
                $.ajax({
                    type: 'POST',
                    url: '/Fornecedor/CadastrarAjax',
                    data: {
                        nome: nome,
                        telefone: telefone,
                        contato: contato,
                        celular: celular,
                        email: email,
                    },
                    success: function () {
                        $('#CancelarFornecedor').click();
                        ListarFornecedores();
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            $('#SalvarFornecedor').click(function () {
                var nome = $('#NomeFornecedor').val();
                var telefone = $('#TelefoneFornecedor').val();
                var contato = $('#ContatoFornecedor').val();
                var celular = $('#CelularFornecedor').val();
                var email = $('#EmailFornecedor').val();
                CadastrarFornecedor(nome, telefone, contato, celular, email);
                if ($('#VoltarFornecedor').text() == '1') {
                    $('#VoltarFornecedor').text('0');
                    document.getElementById('LinkPeca').click();
                } else if ($('#VoltarFornecedor').text() == '3') {
                    $('#VoltarFornecedor').text('0');
                    $('#NovoJob').click();
                }
            });

            $('#CancelarFornecedor').click(function () {
                $('#NomeFornecedor').val('');
                $('#TelefoneFornecedor').val('');
                $('#ContatoFornecedor').val('');
                $('#CelularFornecedor').val('');
                $('#EmailFornecedor').val('');
                if ($('#VoltarFornecedor').text() == '1') {
                    $('#VoltarFornecedor').text('0');
                    document.getElementById('LinkPeca').click();
                } else if ($('#VoltarFornecedor').text() == '3') {
                    $('#VoltarFornecedor').text('0');
                    $('#NovoJob').click();
                }
            });

            $('#FecharCadastroFornecedor').click(function () {
                $('#CancelarFornecedor').click();
                if ($('#VoltarFornecedor').text() == '1') {
                    $('#VoltarFornecedor').text('0');
                    document.getElementById('LinkPeca').click();
                } else if ($('#VoltarFornecedor').text() == '3') {
                    $('#VoltarFornecedor').text('0');
                    $('#NovoJob').click();
                }
            });

            function CadastrarPeca(descricao, fornecedores) {
                $.ajax({
                    type: 'POST',
                    url: '/Peca/CadastrarAjax/',
                    data: {
                        descricao: descricao,
                        fornecedores: fornecedores
                    },
                    success: function () {
                        $('#DescricaoPeca').val('');
                        ListarPecas();
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            $('#SalvarPeca').click(function () {
                var descricao = $('#DescricaoPeca').val();
                var fornecedores = $('#FornecedoresPecas').val().toString();
                CadastrarPeca(descricao, fornecedores);
                if ($('#Voltar').text() == '2') {
                    $('#Voltar').text('0');
                    $('#NovoJob').click();
                }
            });

            $('#CancelarPeca').click(function () {
                $('#DescricaoPeca').val('');
                if ($('#Voltar').text() == '2') {
                    $('#Voltar').text('0');
                    $('#NovoJob').click();
                }
            });

            $('#FecharCadastroPeca').click(function () {
                $('#DescricaoPeca').val('');
                if ($('#Voltar').text() == '2') {
                    $('#Voltar').text('0');
                    $('#NovoJob').click();
                }
            });

            //================= JS MODAL ALTERAR JOB =================//
            function DeletarTabelaMeusJobs() {
                var numeroLinhas = $("#TabelaMeusJobs >tbody >tr").length;
                for (var i = 1; i < numeroLinhas; i++) {
                    document.getElementById("TabelaMeusJobs").deleteRow(1);
                }
            }

            function PreencherTabelaMeusJobs() {
                var tabela = document.getElementById("TabelaMeusJobs");
                $.get("/Job/ListarMeusJobs/", function (data) {
                    $.each(data, function (i, res) {
                        if (res != null) {
                            var linha = tabela.insertRow(1);
                            var pecas = document.createElement('td');
                            var cliente = document.createElement('td');
                            var nome = document.createElement('td');
                            var dataCriacao = document.createElement('td');
                            var dataEstimativa = document.createElement('td');
                            var situacao = document.createElement('td');
                            var span = document.createElement('span');
                            var operacoes = document.createElement('td');

                            var lenres = res.Pecas.length;
                            $.each(res.Pecas, function (j, re) {
                                if (++j == lenres) {
                                    span.innerHTML += "<span>" + re.Descricao + "</span>";
                                } else {
                                    span.innerHTML += "<span>" + re.Descricao + ", </span>";
                                }
                            });
                            operacoes.innerHTML = "<td><div class='btn-group btn-group-xs'><button class='btn btn-default' id='" + res.id + "' onclick='ListarEMPRODUCAO(" + res.id + ")' data-toggle='modal' data-target='#AlterarJobEMPRODUCAO'>" +
                                "<span class='glyphicon glyphicon-pencil'></span></button>" +
                                "<button class='btn btn-success' data-toggle='modal' data-target='#Timeline' onclick='ListarComentarios(" + res.id + ");'>" +
                                "<span class='glyphicon glyphicon-comment'></span></button></div></td>";
                            pecas.innerHTML = "<td></td>";
                            cliente.innerHTML = "<td>" + res.Cliente + "<td>";
                            if(res.nome != null){
                                nome.innerHTML = "<td>" + res.nome + "</td>";
                            }
                            dataCriacao.innerHTML = "<td>" + res.DataCriacao + "</td>";
                            dataEstimativa.innerHTML = "<td>" + res.DataEstimativa + "</td>";
                            situacao.innerHTML = "<td>" + res.Situacao.Descricao + "</td>";

                            pecas.appendChild(span);
                            linha.appendChild(cliente);
                            linha.appendChild(nome);
                            linha.appendChild(pecas);
                            linha.appendChild(dataCriacao);
                            linha.appendChild(dataEstimativa);
                            linha.appendChild(situacao);
                            linha.appendChild(operacoes);
                        }
                    });
                });
            }

            function AtualizaMeusJobs() {
                DeletarTabelaMeusJobs();
                PreencherTabelaMeusJobs();
            }
            //================= FIM JS MODAL ALTERAR JOB =================//

            window.onload = function () {
                var itens;
                $.get('/Cliente/ListarClienteJson/', function (data) {
                    $.each(data, function (i, res) {
                        if (res.nome == 'null') {
                            $('#ClienteCadastro').empty();
                            $('.selectpicker').selectpicker('refresh');
                        } else {
                            itens += "<option value='" + res.id + "'>" + res.nome + "</option>";
                        }
                    });
                    $('#ClienteCadastro').html(itens);
                    $('.selectpicker').selectpicker('refresh');
                });
            };

            function ListarFornecedores() {
                var itens;
                $.get('/Fornecedor/ListarFornecedoresJson', function (data) {
                    $.each(data, function (i, res) {
                        if (res.nome == 'null') {
                            $('#FornecedoresCadastro').empty();
                            $('#FornecedoresPecas').empty();
                            $('.selectpicker').selectpicker('refresh');
                        } else {
                            itens += "<option value='" + res.id + "'>" + res.nome + "</option>";
                        }
                    });
                    $('#FornecedoresPecas').html(itens);
                    $('#FornecedoresBuscar').html(itens);
                    $('#FornecedoresBuscar').children().attr('disabled', 'disabled').css('color', '#505050');
                    $('.selectpicker').removeAttr('disabled');
                    $('.selectpicker').selectpicker('refresh');
                    ListarPecasBuscar();
                });
            };

            function ListarPecasBuscar() {
                var itens;
                $.get('/Peca/ListarPecasBuscarJson/', function (data) {
                    $.each(data, function (i, res) {
                        if (res.Descricao == 'null') {
                            $('#PecasBuscar').empty();
                            $('.selectpicker').selectpicker('refresh');
                        } else {
                            itens += "<option value='" + res.id + "'>" + res.Descricao + "</option>";
                        }
                    });
                    $('#PecasBuscar').html(itens);
                    $('#PecasBuscar').children().attr('disabled', 'disabled').css('color', '#505050');
                    $('.selectpicker').removeAttr('disabled');
                    $('.selectpicker').selectpicker('refresh');
                    ListarSituacaoJob();
                });
            }

            $('.AdicionarFornecedor').click(function () {
                $('#VoltarFornecedor').text('3');
            });

            $('#AdicionarFornecedorPeca').click(function () {
                $('#VoltarFornecedor').text('1');
            });

            $('.AdicionarPeca').click(function () {
                $('#Voltar').text('2');
            });

            function DeletarTabelaJobs() {
                var numeroLinhas = $("#TabelaJobs >tbody >tr").length;
                for (var i = 1; i < numeroLinhas; i++) {
                    document.getElementById("TabelaJobs").deleteRow(1);
                }
                PreencherTabelaJobs();
            }

            function PreencherTabelaJobs() {
                var tabela = document.getElementById("TabelaJobs");
                $.get("/Job/ListarJobsJson/", function (data) {
                    $.each(data, function (i, res) {
                        if (res != null) {
                            var linha = tabela.insertRow(1);
                            var cliente = document.createElement('td');
                            var nome = document.createElement('td');
                            var dataCriacao = document.createElement('td');
                            var dataEstimativa = document.createElement('td');
                            var situacao = document.createElement('td');
                            var operacoes = document.createElement('td');

                            cliente.innerHTML = "<td>" + res.Cliente + "</td>";
                            if(res.nome != null){
                                nome.innerHTML = "<td>" + res.nome + "</td>";
                            }
                            if (res.Fase == "EMPRODUCAO") {
                                dataCriacao.innerHTML = "<td>" + res.DataCriacao + "</td>";
                                dataEstimativa.innerHTML = "<td>" + res.DataEstimativa + "</td>";
                            } else {
                                situacao.innerHTML = "<td>" + res.Fase + "</td>";
                            }
                            if (res.Situacao != null) {
                                situacao.innerHTML = "<td>" + res.Situacao.Descricao + "</td>";
                            }
                            operacoes.innerHTML = "<td><div class='btn-group btn-group-xs'>" +
                                "<button class='btn btn-success' data-toggle='modal' data-target='#Timeline' onclick='ListarComentarios(" + res.id + ");'>" +
                                "<span class='glyphicon glyphicon-comment'></span></button></div></td>";
                            if (res.TemAcesso == true) {
                                if (res.Fase == "EMPRODUCAO") {
                                    if (res.IdLogado == res.idFuncionario || res.Descricao == "Diretor de Arte" || res.Descricao == "Administrador") {
                                        operacoes.innerHTML = "<td><div class='btn-group btn-group-xs'>" +
                                            "<button type='button' class='btn btn-success' data-toggle='modal' data-target='#Timeline' onclick='ListarComentarios(" + res.id + ");'>" +
                                            "<span class='glyphicon glyphicon-comment'></span></button><button type='button' class='btn btn-default' id='" + res.id + "' data-toggle='modal' data-target='#AlterarJob" + res.Fase + "' onclick='Listar" + res.Fase + "(" + res.id + ");'>" +
                                            "<span class='glyphicon glyphicon-pencil'></span></button></div></td>";
                                    }
                                }
                            }
                            linha.appendChild(cliente);
                            linha.appendChild(nome);
                            linha.appendChild(dataCriacao);
                            linha.appendChild(dataEstimativa);
                            linha.appendChild(situacao);
                            linha.appendChild(operacoes);
                        }
                    });
                });
            }

            function AtualizaJobs() {
                DeletarTabelaJobs();
            }

            function PopularFornecedor(id) {
                $.ajax({
                    url: '/Fornecedor/PopularModal/',
                    data: {
                        id: id
                    },
                    type: 'post',
                    success: function (lista) {
                        $('#NomeFornecedor').val(lista.nome);
                        $('#TelefoneFornecedor').val(lista.Telefone);
                        $('#ContatoFornecedor').val(lista.Contato);
                        $('#CelularFornecedor').val(lista.Celular);
                        $('#EmailFornecedor').val(lista.Email);
                        $('#PecasFornecedores').selectpicker('val');
                    }
                });
            }

            function ListarComentarios(id) {
                $('#IdJobTimeline').text(id);
                $('#ComentariosTimeline').empty();
                $.get('/TimelineJob/ListarTimelineJobJson/' + id, function (data) {
                    if (data.length != 0) {
                        $.each(data, function (i, res) {
                            if (res.Alterado != 'null') {
                                var divPanel = $('<div />');
                                divPanel.addClass('panel panel-info');

                                var h3Title = $('<h3></h3>');
                                h3Title.addClass('panel-title');
                                h3Title.text(res.Alterado.toString());

                                var date = $('<span/>');
                                date.addClass('glyphicon glyphicon-calendar');

                                var divPanelHeading = $('<div />');
                                divPanelHeading.addClass('panel-heading');
                                divPanelHeading.append(h3Title);
                                divPanelHeading.append(date);
                                divPanelHeading.append(res.Data);

                                if (res.idFuncionario == res.IdLogado) {
                                    var horas = new Date(res.Hora);
                                    var dtSplit = res.Data.split('/');
                                    var dt = new Date(dtSplit[2], dtSplit[1] - 1, dtSplit[0]);
                                    var hoje = new Date();
                                    if (dt.getFullYear() == hoje.getFullYear()) {
                                        if (dt.getMonth() == hoje.getMonth()) {
                                            if (dt.getDate() == hoje.getDate()) {
                                                if (horas.getHours() == hoje.getHours()) {
                                                    if (horas.getMinutes() <= hoje.getMinutes()) {
                                                        var minutos = hoje.getMinutes() - horas.getMinutes();
                                                        if (minutos < 15) {
                                                            var alterar = $('<a/>');
                                                            alterar.addClass('glyphicon glyphicon-pencil pull-right');
                                                            alterar.css('cursor', 'pointer');
                                                            alterar.attr('onclick', 'CriarAlterarComentarioTimeline(' + res.id + ');');

                                                            var excluir = $('<a/>');
                                                            excluir.addClass('glyphicon glyphicon-remove pull-right');
                                                            excluir.css('cursor', 'pointer');
                                                            excluir.attr('onclick', 'ExcluirComentarioTimeline(' + res.id + ');');

                                                            divPanelHeading.append(excluir);
                                                            divPanelHeading.append(alterar);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                var divPanelBody = $('<div />');
                                divPanelBody.addClass('panel-body');
                                divPanelBody.text(res.Descricao.toString());
                                divPanelBody.attr('id', res.id + "panelBodyTimeline");

                                divPanel.append(divPanelHeading);
                                divPanel.append(divPanelBody);
                                $('#ComentariosTimeline').append(divPanel);
                            }
                        });
                    } else {
                        $('#ComentariosTimeline').append('Nenhum comentário encontrado.');
                    }
                });
            }

            function ExcluirComentarioTimeline(id) {
                $.ajax({
                    type: 'POST',
                    url: '/TimelineJob/ExcluirComentario/',
                    data: {
                        id: id
                    },
                    success: function () {
                        LimparTimeline();
                        ListarComentarios($('#IdJobTimeline').text());
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            function CriarAlterarComentarioTimeline(id) {
                var texto = $('#' + id + 'panelBodyTimeline').text();
                $('#' + id + 'panelBodyTimeline').empty();
                $('#' + id + 'panelBodyTimeline').append("<textarea class='form-control' id='" + id + "ComentarioAlterarTimeline' style='resize: none; border: none;'></textarea>");
                $('#' + id + 'panelBodyTimeline').append("<button type='button' class='btn btn-success' onclick='AlterarComentarioTimeline(" + id + ");'>Alterar</button>");
                $('#' + id + 'panelBodyTimeline').append("<button type='button' class='btn btn-danger'>Cancelar</button>");
                $('#' + id + 'panelBodyTimeline button:last-child').on('click', function () { CancelarComentarioTimeline(id, texto); });
                $('#' + id + 'ComentarioAlterarTimeline').val(texto);
                $('#' + id + 'ComentarioAlterarTimeline').focus().select();
            }

            function AlterarComentarioTimeline(id) {
                $.ajax({
                    type: 'POST',
                    url: '/TimelineJob/AlterarComentario/',
                    data: {
                        id: id,
                        texto: $('#' + id + 'ComentarioAlterarTimeline').val()
                    },
                    success: function () {
                        LimparTimeline();
                        ListarComentarios($('#IdJobTimeline').text());
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }

            function CancelarComentarioTimeline(id, texto) {
                $('#' + id + 'panelBodyTimeline').empty();
                $('#' + id + 'panelBodyTimeline').text(texto);
            }

            //=================== TIMELINE COMENTARIOS ===================//
            $('#txtComentario').on('keyup keydown', function () {
                var quant = 5000;
                var total = $(this).val().length;

                if (total == 0) {
                    $('#CaracterComentarioTimeline').text('5000 caracteres');
                } else if (total < quant) {
                    $('#CaracterComentarioTimeline').text(quant - total + " caracteres restantes");
                } else {
                    document.getElementById(this).value = document.getElementById(this).value.substr(0, quant);
                }
            });

            function LimparTimeline() {
                $('.panel-info').each(function () {
                    $(this).remove();
                });
            }

            function LimparFormulario() {
                $('#txtComentario').val('');
                $('#CaracterComentarioTimeline').text('5000 caracteres');
            }

            $('#Limpar').click(function () {
                LimparFormulario();
            });

            $('#FecharTimeline').click(function () {
                LimparTimeline();
            });

            $('#Timeline').on('hidden.bs.modal', function () {
                $('#FecharTimeline').click();
            });

            $('#Publicar').on('click', function () {
                var comentario = $('#txtComentario').val();

                CadastrarComentarioTimeline(comentario, $('#IdJobTimeline').text());
            });

            function CadastrarComentarioTimeline(comentario, id) {
                $.ajax({
                    type: 'POST',
                    url: '/TimelineJob/CadastrarAjax/',
                    data: {
                        comentario: comentario,
                        idJob: id
                    },
                    success: function () {
                        $('#ComentariosTimeline').empty();
                        LimparTimeline();
                        ListarComentarios(id);
                        LimparFormulario();
                    },
                    error: function (xhr, status, response) { alert(response); }
                });
            }
            //=================== FIM TIMELINE COMENTARIOS ===================//
        </script>
    </div>
</body>
</html>
