@model IEnumerable<Dominio.Entidades.Compromisso>

@{
    ViewBag.Title = "Agenda";
}

<div class="form-working col-md-9">
    <div class="titulo1">
        <h1>Agenda</h1>
    </div>

    <div style="padding-top: 10px; padding-bottom: 10px;">
        <button class="btn btn-success" data-toggle="modal" data-target="#NovoCompromisso">
            <span class="glyphicon glyphicon-plus"></span>
            Cadastrar
        </button>
        <button class="btn btn-danger" onclick="location.href='/Compromisso/Antigos'">
            <span class="glyphicon glyphicon-search"></span>
            Antigos
        </button>
    </div>

    <table class="table table-bordered table-hover table-working">
        <tr>
            <th>Data</th>
            <th>Compromisso</th>
            <th>Horário</th>
            <th>Operações</th>
            <th style="border-color: transparent !important; background-color: transparent !important;"></th>
        </tr>

        @foreach (var i in Model.OrderBy(e => e.Data).ThenBy(e => e.Hora).Where(e => e.Situacao == 0))
        {
            <tr>
                <td>@i.Data.Day.ToString("D2")/@i.Data.ToString("MMMM")</td>
                <td>@i.Descricao</td>
                <td>@i.Hora</td>
                <td style="text-align: center">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" onclick="PopularModal(@i.Id);" id="@i.Id" title="Alterar" data-toggle="modal" data-target="#AlterarCompromisso"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger" onclick="DeletaCompromisso(@i.Id);" title="Excluir" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-success" onclick="ConfirmarCompromisso(@i.Id);" title="Confirmar"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </td>
                <td style="border-color: transparent !important; background-color: transparent !important;">
                    @if (DateTime.Now.AddDays(-1) > i.Data)
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color: red;"></span>
                    }
                </td>
            </tr>
        }
    </table>
</div>