@using Dominio.Entidades
@using NHibernate.Context
@model Working.ViewsModels.DadosIndex
@{
    ViewBag.Title = "Home";
}
<div class="panel-default col-md-3 pull-right">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt pull-left"></span>
        Agenda
    </div>
    <table class="table table-condensed table-striped table-bordered" id="Compromissos">
        @foreach (var i in Model.Compromissos.OrderBy(e => e.Data).ThenBy(e => e.Hora).Where(e => e.Situacao == 0 && e.Data >= DateTime.Now.AddDays(-1)).Take(5))
        {
            <tr class="@i.Id">
                <th class="glyphicon-compromisso"><a onclick="PopularModal(@i.Id);" id="@i.Id" title="Alterar" data-toggle="modal" data-target="#AlterarCompromisso" class="glyphicon glyphicon-pencil pull-left" style="font-size: 11px; padding-top: 5px; width: 15px;"></a>
                    @i.Data.Day.ToString("D2")/@i.Data.ToString("MMM")
                    <span class="alteracao">Última alteração feita por: @i.UltimoFuncionario.Nome</span>
                    <button type="button" class="close" onclick="ConfirmarCompromissoAjax(@i.Id,@Model.Funcionario.Id)" title="Confirmar" aria-hidden="true"><span class="glyphicon glyphicon-ok" style="color: green; font-size: 15px; padding-top: 5px; width: 15px;"></span></button>
                </th>
            </tr>
            <tr>
                <td>
                    <small class="glyphicon glyphicon-time pull-right"><span style="font-family: helvetica">
                        <strong>@i.Hora</strong>
                    </span></small>
                    @i.Descricao
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#NovoCompromisso">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Compromisso
    </button>
</div>
<div class="panel-default col-md-8 pull-right">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-folder-open pull-left"></span>
        Jobs
    </div>
    <table class="table table-bordered" id="TabelaJobs">
        <tbody>
            <tr>
                <th>Cliente</th>
                <th>Criação</th>
                <th>Estimativa</th>
                <th>Situação</th>
                <th>Operações</th>
            </tr>
            @foreach (var i in Model.Jobs.OrderBy(e => e.DataEstimativa).ThenBy(e => e.DataCriacao).ThenBy(e => e.Id))
            {
                <tr>
                    <td>@i.Cliente.Nome</td>
                    <td>@i.DataCriacao.Day.ToString("D2")/@i.DataCriacao.ToString("MMM")</td>
                    <td>@i.DataEstimativa.Day.ToString("D2")/@i.DataEstimativa.ToString("MMM")</td>
                    <td>@i.Situacao.Descricao</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#Timeline" onclick="ListarComentarios(@i.Id);">
                                <span class="glyphicon glyphicon-comment"></span>
                            </button>
                            @if (i.Funcionario.Nome == HttpContext.Current.User.Identity.Name)
                            {
                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#AlterarJob" onclick="Listar(@i.Id)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/Scripts/compromisso.js"></script>
}
