@using Castle.Core.Internal
@using Dominio.Entidades
@using NHibernate.Context
@using Working.Models
@{var funcionario = HelpClass.UsuarioLogado();}
@model Working.ViewsModels.DadosIndex
@{
    ViewBag.Title = "Home";
}
@RenderPage("~/Views/Shared/_AlterarJobANALISE.cshtml")
@RenderPage("~/Views/Shared/_AlterarJobPRODUCAO.cshtml")
@RenderPage("~/Views/Shared/_AlterarJobEMPRODUCAO.cshtml")
<div class="panel-default col-md-3 pull-right">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt pull-left"></span>
        Agenda
    </div>
    <table class="table table-condensed table-striped table-bordered" id="Compromissos">
        @foreach (var i in Model.Compromissos.OrderBy(e => e.Data).ThenBy(e => e.Hora).Where(e => e.Situacao == 0 && e.Data >= DateTime.Now.AddDays(-1)).Take(5))
        {
            <tr class="@i.Id">
                <th class="glyphicon-compromisso">
                    @if (i.Job == null)
                    {
                        <a onclick=" PopularModal(@i.Id); " id="@i.Id" title="Alterar" data-toggle="modal" data-target="#AlterarCompromisso" class="glyphicon glyphicon-pencil pull-left" style="font-size: 11px; padding-top: 5px; width: 15px;"></a>
                    }
                    @i.Data.Day.ToString("D2")/@i.Data.ToString("MMM")
                    <span class="alteracao">Última alteração feita por: @i.UltimoFuncionario.Nome</span>
                    @if (i.Job == null)
                    {
                        <button type="button" class="close" onclick=" ConfirmarCompromissoAjax(@i.Id, @Model.Funcionario.Id) " title="Confirmar" aria-hidden="true"><span class="glyphicon glyphicon-ok" style="color: green; font-size: 15px; padding-top: 5px; width: 15px;"></span></button>
                    }
                </th>
            </tr>
            <tr>
                <td>
                    <small class="glyphicon glyphicon-time pull-right"><span style="font-family: helvetica">
                        <strong>@i.Hora</strong>
                    </span></small>
                    @i.Descricao
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#NovoCompromisso">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Compromisso
    </button>
</div>
<div class="panel-default col-md-8 pull-right">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-folder-open pull-left"></span>
        Jobs
    </div>
    <table class="table table-bordered" id="TabelaJobs">
        <tbody>
            <tr>
                <th>Cliente</th>
                <th>Nome</th>
                <th>Criação</th>
                <th>Estimativa</th>
                <th>Situação</th>
                <th>Operações</th>
            </tr>
            @foreach (var i in Model.Jobs.OrderBy(e => e.DataEstimativa).ThenBy(e => e.DataCriacao).ThenBy(e => e.Id).Where(e => e.Fase != "ENTREGUE"))
            {
                <tr>
                    <td>@i.Cliente.Nome</td>
                    @if (i.Fase == "PRODUCAO" || i.Fase == "EMPRODUCAO")
                    {
                        <td>@i.Nome</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (i.Fase == "EMPRODUCAO")
                    {
                        <td>@i.DataCriacao.Day.ToString("D2")/@i.DataCriacao.ToString("MMM")</td>
                        <td>@i.DataEstimativa.Day.ToString("D2")/@i.DataEstimativa.ToString("MMM")</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                    @if (i.Situacao != null)
                    {
                        <td>@i.Situacao.Descricao</td>
                    }
                    else
                    {
                        <td>@i.Fase</td>
                    }
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#Timeline" onclick="ListarComentarios(@i.Id);">
                                <span class="glyphicon glyphicon-comment"></span>
                            </button>
                            @if (funcionario.TemAcesso(i.Fase))
                            {
                                if (i.Fase == "EMPRODUCAO")
                                {
                                    if (i.Funcionario == funcionario || funcionario.Cargo.Nome == "Diretor de Arte" || funcionario.Cargo.Nome == "Administrador")
                                    {
                                        var target = "#AlterarJob" + i.Fase;
                                        var listar = "Listar" + i.Fase + "(" + i.Id + ")";
                                        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="@target" onclick="@listar">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    }
                                }
                                else
                                {
                                    var target = "#AlterarJob" + i.Fase;
                                    var listar = "Listar" + i.Fase + "(" + i.Id + ")";
                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="@target" onclick="@listar">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>